<div class="container">

<%= render 'shared/sidebar' %>

<%= form_tag("", method: "patch") do %>
  <%= label_tag(:new_sentence, "Complete the sentence:") %>
  <%= text_area_tag(:new_sentence, @sentence, size: "24x6") %>
  <%= submit_tag("Add this sentence to my novel") %>
<% end %>

</div>
