<div class="container">
  <%= render 'shared/sidebar' %>

  <div class="side-container dashboard">
    <% @novels.each do |novel| %>
      <div class="novel-card">
        <%= link_to novel.title, edit_novel_path(novel) %>
        <%= novel.novel_wordcount %>
        <%= novel.goal_deadline %>
        <%= novel.goal_days_off %>
        <%= novel.goal_wordcount %>
        <%= link_to "Destroy Novel", novel_path(novel), method: :delete%>
        <% novel.writing_sessions.each do |session| %>
          <%= session.created_at %>
          <%= session.updated_at %>
          <%= session.session_wordcount %>
          <% end %>
      </div>
    <% end %>

    <div class="dashboard-stats-container">
      <div class="dashboard-stats-total-words dashboard-bubble">
        <div class="dashboard-bubble-content">
          <span class="dashboard-total-wordcount dashboard-bubble-count-sm" id="total-wordcount">13,723</span>
          <span>Total words</span>
        </div>
      </div>
      <div class="dashboard-stats-todays-goal dashboard-bubble">
        <div class="dashboard-bubble-content">
          <span class="dashboard-todays-goal dashboard-bubble-count-lg" id="todays-goal">1,450 words</span>
          <span>Todays goal</span>
        </div>
      </div>

      <div class="dashboard-stats-total-words dashboard-bubble">
        <div class="dashboard-bubble-content">
          <span class="dashboard-total-wordcount dashboard-bubble-count-sm" id="days-left">13</span>
          <span>Days left</span>
        </div>
      </div>
    </div>

    <!-- <div class="dashboard-goals-container" id="goals"> -->

        <div id="chart_div" style="width: 100%; height: 500px;"></div>

    <!-- </div> -->
  </div>
</div>

<!--
<script type="text/javascript">

//[20, 60] === [setGoal, doneGoal]
  const myArr = [[20, 60], [20, 80], [80, 50], [100, 20], [70, 40], [20, 60], [20, 80], [80, 50], [100, 20], [70, 40],[20, 60], [20, 80], [80, 50], [100, 20], [70, 40], [0, 10], [50, 0], [80, 50], [100, 20], [70, 40],[20, 60], [20, 80], [80, 50], [100, 20], [70, 40], [20, 60], [20, 80], [80, 50], [100, 60], [10, 40]];


  function drawGoals(goalsData) {
    const goals = document.getElementById("goals");
    let totalDaysCount = myArr.length;

    for (const goalDay in goalsData) {
      const setGoal= goalsData[goalDay][0];
      const doneGoal = goalsData[goalDay][1];

      goals.insertAdjacentHTML("beforeend",
       `<div class='dashboard-goal-case'
        style='height:${setGoal}%; width: calc(100% / ${totalDaysCount});'></div>
        <div class='dashboard-goal-result' style='height:${doneGoal}%; width: calc(100% / ${totalDaysCount}); left: calc((100% / ${totalDaysCount}) * ${goalDay})'>
        </div>`)
    }
  }

drawGoals(myArr)

</script> -->


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
     google.charts.load('current', {'packages':['corechart']});
     google.charts.setOnLoadCallback(drawChart);

     function drawChart() {
       var data = google.visualization.arrayToDataTable([
         ['Day', 'Estimate', 'Actual'],
         ['1',  1000,      400],
         ['2',  1170,      1200],
         ['3',  660,       1120],
         ['4',  1030,      540]
       ]);

       var options = {
         vAxis: {minValue: 0}
       };

       var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
       chart.draw(data, options);
     }
   </script>
 </head>
