<%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js', 'chartkick' %>
<div class="side-container">
<%= render 'shared/sidebar' %>
<!-- <div class="main-container"> -->
      <h1 class="main-dashboard-header">Dashboard</h1>
  <div class="main-dashboard-container">
    <!-- <div class="main-dashboard-header"> -->
      <!-- <%= link_to edit_novel_path(@novels.first), class:"btn btn-primary" do %>
        Keep writing
      <% end %> -->
    <!-- </div> -->

    <!-- <div class="main-dashboard-container"> -->
      <div class="main-dashboard-novels-container">
        <h2 class="main-dashboard-cont-head">Your novels</h2>


        <% @novels.each do |novel| %>

        <div class="main-dashboard-novel">
          <div class="main-dashboard-novel-heading">
            <p class="main-dashboard-novel-title"><%= novel.title %></p>
            <div class="main-dashboard-novel-days-left">

              <span class="days-number"><%=(novel.goal_deadline - Time.now.to_date).to_i + 1 %></span>

              <div class="days">
                <span>days</span>
                <span>left</span>
              </div>
            </div>
          </div>
          <div class="main-dashboard-novel-content">
            <div class="main-dashboard-novel-metrics">
              <span>Overall progress: <span><%= novel.novel_wordcount %> words</span></span>
            </div>
            <div class="main-dashboard-novel-bar">
              <div class="main-dashboard-novel-progress" style="width: 90%;">

              </div>
            </div>
            <div class="main-dashboard-novel-footer">
              <div class="main-dashboard-goal-today">
                <span>Goal today: </span>
                <span class="main-dashboard-todays-goal-count">100 words</span>
              </div>
              <div class="main-dashboard-novel-actions">

                <%= link_to novel_path(novel), class: "btn btn-primary" do %>
                  Stats
                <% end %>
                <!-- <a href="#" class="btn btn-primary">Stats</a> -->
                <%= link_to edit_novel_path(novel), class: "btn btn-primary" do %>
                  Keep writing
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      </div>

      <div class="main-dashboard-summary-container">
        <h2 class="main-dashboard-cont-head--center">Your progress</h2>
        <div class="main-dashboard-stats-total-words main-dashboard-bubble">
          <div>
            <% data = ({"Written" => 50, "Remaining" => 70}) %>
            <%= pie_chart data, donut: true,
                                legend: false,
                                width: "320px",
                                id: "chart",
                                height: "320px",
                                colors: [ '#FF5E3A', '#22829d'],
                                thousands: ",",
                                animation: true,
                                library: { :backgroundColor => "transparent", :animation => { :startup => true, :duration => 50000 } } %>
          </div>
          <div class="main-dashboard-bubble-content">
            <span class="main-dashboard-total-wordcount main-dashboard-bubble-count-sm" id="total-wordcount">
              200 words
            </span>
            <span>Todays goal</span>
          </div>
        </div>


        <div class="main-dashboard-inbox">
          <h2 class="main-dashboard-cont-head--center">Inbox</h2>
          <div class="main-dashboard-inbox-list">
            <a class="main-dashboard-inbox-item unread">
              <p class="main-dashboard-review-title">HARRY POTTER AND THE STONED PHILOSOPHER</p>
              <div class="main-dashboard-review">
                <span class="main-dashboard-reviewer">Catherine</span>
                <span class="main-dashboard-review-content">More vividness for this paragraph needed! More vividness for this paragraph needed! More vividness for this paragraph needed!</span>
              </div>
            </a>

            <a class="main-dashboard-inbox-item unread">
              <p class="main-dashboard-review-title">
                Angels of love
                <span class="main-dashboard-review-request"> - Request</span>
              </p>
              <div class="main-dashboard-review">
                <span class="main-dashboard-reviewer">Thomas</span>
                <span class="main-dashboard-review-content">Hey, please check if you like the ending of chapter five.</span>
              </div>
            </a>

            <a class="main-dashboard-inbox-item">
              <p class="main-dashboard-review-title">HARRY POTTER AND THE STONED PHILOSOPHER</p>
              <div class="main-dashboard-review">
                <span class="main-dashboard-reviewer">Carlos</span>
                <span class="main-dashboard-review-content">The philosopher is too stoned in this sentence.</span>
              </div>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
