<div class="nav">
  <!-- <div class="nav-logo-cont">
    <%= link_to root_path do %>
     <%= image_tag "http://icons.iconarchive.com/icons/graphicloads/100-flat/128/phone-icon.png", class:"nav-logo" %>
    <% end %> -->

    <h1 class="nav-heading" style="">Novelty</h1>

  <!-- </div> -->
    <ul class="nav-menu">
      <% if !user_signed_in? %>
        <li class="nav-menu-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-menu-link btn btn-primary" %>
        </li>
      <% end %>
      <% if !user_signed_in? %>
        <li class="nav-menu-item">
            <%= link_to "Log in", new_user_session_path, class: "nav-menu-link btn btn-primary" %>
        </li>
      <% end %>

     <% if user_signed_in? %>
        <li class="nav-menu-item">
            <%= link_to "Dashboard", user_path(current_user), class: "nav-menu-link btn btn-primary" %>
        </li>
      <% end %>
    </ul>
</div>
