  <dialog id="statistics">
  <div class="dialog2">
    <p>Total Word Count: <%= @novel.novel_wordcount %></p>
    <p>Todays Word Count: <%= @counter.token_count %> minus Yesterdays Total Word Count</p>

    <p>Unique Words: <%=  @counter.uniq_token_count %></p>
    <p>Character Count: <%= @counter.char_count %></p>
    <p>Top 5 Words:
   <% @filtered_words.first(5).each do |key| %>
   <table border="1" width="300px">
      <tr>
        <td width="150px">'<%= key[0] %>'</td>
        <td width="150px" align="right"><%= key[1] %></td>
      </tr>
  </table>
  <% end %>
  </p>
      <div class="modal-actions">
        <button id="cancel2" type="reset" class="btn btn-secondary">Cancel</button>
      </div>
  </div>
</dialog>


<!-- <menu> -->
  <button id="stats" class="btn btn-secondary">Stats</button>
<!-- </menu> -->

  <script>
    const cancelButton2 = document.getElementById('cancel2');
    const statsButton = document.getElementById('stats')
    const dialog2 = document.getElementById('statistics')

    statsButton.addEventListener('click', function() {
      dialog2.showModal();
    });
    cancelButton2.addEventListener('click', function() {
      dialog2.close();
    });
  </script>


