<%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js', 'chartkick' %>
<div class="side-container">
  <%= render 'shared/sidebar' %>
  <div class="dashboard-container">
    <div class="dashboard-header">
      <h1 class="heading"><%= @novel.title %></h1>
      <%= link_to edit_novel_path(@novel), class: "btn btn-primary" do %>
        Keep writing
      <% end %>
    </div>
    <div class="dashboard-stats-container">
      <div class="dashboard-stats-total-words dashboard-bubble">
        <div>
          <% @written = @novel.novel_wordcount %>
          <% @remaining = @novel.goal_wordcount - @written %>
          <% data = ({"Written" => @written, "Remaining" => @remaining}) %>
          <%= pie_chart data, donut: true,
                              legend: false,
                              width: "300px",
                              height: "300px",
                              colors: [ '#FF5E3A', '#f2f2f2'],
                              thousands: ",",
                              animation: true,
                              library: { :backgroundColor => "transparent", :animation => { :startup => true, :duration => 50000 } } %>
        </div>
        <div class="dashboard-bubble-content">
          <span class="dashboard-total-wordcount dashboard-bubble-count-sm" id="total-wordcount">
            <%= number_with_delimiter(@novel.novel_wordcount, :delimiter => ',') %>
          </span>
          <span>Total words</span>
        </div>
      </div>
      <div class="dashboard-stats-todays-goal dashboard-bubble">
        <div>
          <% if @todays_goal > @words_today %>
            <% written = @words_today %>
            <% remaining = @todays_goal - written %>
            <% data = ({"Written" => written, "Remaining" => remaining}) %>
          <%= pie_chart data, donut: true,
                              legend: false,
                              width: "400px",
                              height: "400px",
                              colors: [ '#07617D', '#f2f2f2'],
                              thousands: ",",
                              animation: true,
                              library: { :backgroundColor => "transparent", :animation => { :startup => true, :duration => 50000 } } %>
          <% else %>
            <% goal = @todays_goal %>
            <% beyond_goal = @words_today - @todays_goal %>
            <% data = ({"goal" => goal, "Beyond gaol" => beyond_goal}) %>
          <%= pie_chart data, donut: true,
                              legend: false,
                              width: "400px",
                              height: "400px",
                              colors: [ '#07617D', '#FF5E3A'],
                              thousands: ",",
                              library: { :backgroundColor => "transparent", :animation => { :startup => true, :duration => 50000 } } %>
          <% end %>

        </div>
        <div class="dashboard-bubble-content-lg">
          <span>Today's goal</span>
          <span class="dashboard-todays-gaol dashboard-bubble-count-lg" id="todays-goal"><%= number_with_delimiter(@todays_goal, :delimiter => ',') %></span>
          <span><span style="color: #333333; opacity: 0.5">Written today: </span><span style="color: #FF5E3A"><%= number_with_delimiter(@words_today, :delimiter => ',') %></span></span>
        </div>
      </div>
      <div class="dashboard-stats-total-words dashboard-bubble">
        <div>
          <% days_elapsed = @novel.goal_deadline - @novel.goal_start_date %>
          <% days_remaining = @days_left %>
          <% data = ({"Passed" => days_elapsed, "Remaining" => days_remaining}) %>
          <%= pie_chart data, donut: true,
                              legend: false,
                              width: "300px",
                              height: "300px",
                              colors: ['#f2f2f2', '#07617D'],
                              thousands: ",",
                              animation: true,
                              library: { :backgroundColor => "transparent", :animation => { :startup => true, :duration => 50000 } } %>
        </div>
        <div class="dashboard-bubble-content">
          <span class="dashboard-total-wordcount dashboard-bubble-count-sm" id="days-left"><%= number_with_delimiter(@days_left, :delimiter => ',') %></span><span>days left</span>
        </div>
      </div>

    <!-- chart goes here -->
  </div>
  <div>
    <% @data %>
    <%= column_chart @data, colors: [ '#07617D', '#FF5E3A'], thousands: "," %>
  </div>
</div>
