<div class="edit-container">
  <%= render 'shared/sidebar' %>
  <div class="review-container">
    <div class="review-container-main">
      <div class="title">
        <h1><%= @novel.title %></h1>
      </div>
      <div contenteditable="true" class = "review-novel" data-id=<%="#{@novel.id}"%>>
        <%= @novel.content.html_safe %>
      </div>

    </div>




    <div class="review-container-right">

  <div class="review-comments">
      </div>              <% if @novel.user == current_user %>
        <button class="btn btn-primary save" onclick="saveNovel()">Save</button>
      <% end %>
      <%= render 'shared/review' %>

    </div>

  </div>




