<div class="edit-container">
  <%= render 'shared/sidebar' %>
  <div class="review-container">
    <div class="review-container-main">
      <div class="title">
        <h1><%= @novel.title %></h1>
      </div>
      <div contenteditable="true" class = "review-novel" data-id=<%="#{@novel.id}"%>>
        <%= @novel.content.html_safe %>
      </div>
        <% if @novel.user == current_user %>
           <!-- <%= link_to "Save Novel", novel_save_path(novel_id: @novel), method: :patch, onclick: "saveNovel()", class: "btn btn-primary save"%> -->
        <button class="btn btn-primary save" onclick="saveNovel()">Save</button>
      <% end %>
    </div>




    <div class="review-container-right">
      <%= render 'shared/review' %>
      <% @novel.reviews.each do |review| %>
      <div class="review-comment">
        <span class="review-comment_title"><%= review.comment_title %></span>
        <p><%= review.comment_text %></p>
        <p><%= review.status %></p>
        <% if review.status == "pending" %>
        <%= link_to "Completed", review_path(review), method: :patch, class: "Status" %>
        <a href="#" onclick="showComment(<%= review.id %>)">Show comment</a>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>



