<div class="edit-container">
  <%= render 'shared/sidebar' %>
  <div class="review-container">
    <div class="review-container-main">
      <div class="title">
        <h1><%= @novel.title %></h1>
      </div>
      <div contenteditable="true" class = "review-novel" data-id=<%="#{@novel.id}"%>>
        <%= @novel.content %>
      </div>
    </div>

    <div class="review-container-right">
      <%= render 'shared/review' %>
      <% @novel.reviews.each do |review| %>
      <div class="review-comment">
        <span class="review-comment-title"><%= review.comment_title %></span>
        <p><%= review.comment_text %></p>
        <a href="#" onclick="showComment()">Show comment</a>
      </div>
      <% end %>
    </div>
  </div>



